*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}
header{
  width:100%;
  height:100vh;
  background:black;
  clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 80% 80%, 0% 100%);
}
.icon img{
  width:35px;
}
nav{
  width:100%;
  height:100px;
  color:white;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
.logo{
  font-size:50px;
  font-weight:bold;
  letter-spacing:5px;
}
.logo span{
  color:#1a7beb;
}
.menu a{
  color:white;
  font-size:20px;
  text-decoration:none;
  padding:10px;
  margin:10px;
}
.menu a:hover{
  background:#1a7beb;
  border-radius:5px;
}
.menu a:first-child{
  border-bottom:2px solid #1a7beb;
}

.container{
  color:white;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:50px;
}
.left{
  flex-basis:50%;
}

.right{
  flex-basis:50%;
  max-width:400px;
}
.right h1{
  font-size:50px;
  color:#1a7beb;
}
.right p{
  font-size:20px;
  margin:10px 0;
}
.c-btn{
  border:2px solid #1a7beb;
  border-radius:5px;
  font-weight:bold;
  padding:10px 15px;
  background:transparent;
  color:#1a7beb;
  margin:10px 0;
}
section{
  padding:100px 0;
}

#about{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;

}
.about-left{
  flex-basis:50%;
  max-width:400px;
  margin:auto;
}
.about-left span{
  color:#1a7beb;
}
.about-left h1{
  font-size:50px;
  margin:5px;
}
.about-left h2{
  margin:5px;
}
.about-left p{
  font-size:20px;
  text-align:justify;
  margin:15px 0px;;
}
.about-right{
  flex-basis:50%;
  text-align:center;
}
#signup{
  padding:50px 0px;
  border-top:2px solid #1a7beb;
}
.signup-row{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.signup-left{
  flex-basis:60%;
}
.signup-right{
  flex-basis:50%;
}
.signup-right span{
    color:#1a7beb;
  }
.signup-right h1{
  font-size:90px;

}
.signup-right h2{
  font-size:45px;
  letter-spacing:60px;
  color:rgb(0,0,0,0.3);
  margin:10px 0px;
}
#services{
  padding:50px 0px;
  text-align:center;
}
.services-info h1{
  font-size:50px;
}
.services-info span{
  color:#1a7beb;
}
.services-info p{
  font-size:20px;
}
